<?xml version="1.0"?>
<!--
/** NOTICE OF LICENSE
 *
 * This source file is subject to the MIT license
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/MIT
 *
 * @copyright  Copyright (c) 2014 Tim Bezhashvyly
 * @license    http://opensource.org/licenses/MIT  The MIT License
 */
-->
<config>
    <modules>
        <Sandfox_ImportExportFix>
            <version>0.1.0</version>
        </Sandfox_ImportExportFix>
    </modules>
    <global>
        <models>
            <sandfox_importexportfix>
                <class>Sandfox_ImportExportFix_Model</class>
            </sandfox_importexportfix>
            <importexport>
                <rewrite>
                    <import_entity_product>Sandfox_ImportExportFix_Model_Import_Entity_Product</import_entity_product>
                    <import_entity_customer>Sandfox_ImportExportFix_Model_Import_Entity_Customer</import_entity_customer>
                </rewrite>
            </importexport>
        </models>
    </global>
</config>
